<link href="css/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script src="js/lib/event.js"></script>
<script src="js/lib/imagesloaded.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/backbone.min.js"></script>
<script src="js/lib/backbone.localStorage.js"></script>
<script src="js/lib/video.min.js"></script>
<script src="js/lib/silvermine-videojs-quality-selector.min.js"></script>
<script src="js/lib/lottie.min.js"></script>
<script src="js/app.js" type="module"></script>
