@include exports("@path:components\_ep1.scss"){/*@path:components\_ep1.scss*/
  .ov-wrap{
    &.start{
      @extend %text-btn;
      &.brdName{
        input{
          display:block;
          text-align:center;
          color:#fff;
          background:#000;
          border:1px solid #e2a39e;
          text-transform:uppercase;
          width:40%;
          font-size:0.8em;
          padding:.2em 0;
          margin:1.2em auto 0 auto;
          @include plh(){
            color:#fff;
          };
        }
      }
      &.shown{
        .ov-video+.ov-video{
          opacity:1;
          transition-duration:$anim;
          transition-delay:$anim*4;
        }
      }
      .ov-video+.ov-video{
        opacity:0;
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .pulse-btn.start{
        transition-delay:$anim*5;
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
    }
    &.vibrate{
      &.v2{
        .pulse-btn{
          width:11.25%;
          cursor:pointer;
          @include abs($l:18%,$b:8%);
          &.shifted{
            left:72.7%;
            bottom:auto;
            top:73.7%;
          }
          img{
            width:100%;
          }
        }
      }
      .w-p-outer{
        margin:auto;
        @include anim('w-rotate-right 20s ease-in-out infinite');
      }
      .w-p-wrap{
        padding:6px;
        cursor:pointer;
        @include trs('transform 1s cubic-bezier(0.65, 0.05, 0.36, 1)');
      }
      .w-p-cont{
        padding:6px;
        @include anim('w-move-right 20s infinite');
      }
      .w-p-text{
        width:20.91em;
        height:3.46em;
      }
      .w-p-p{
        @include abs($l:0,$r:0,$t:-1px);
        div{
          border-top:1px solid orange;
          width:0;
          @include trs('width linear 2s');
        }
      }
      .w-p-p-text{
        @include abs($l:0,$t:-17px);
        font-size:0.6em;
        color:orange;
      }
    }
    &.qs{
      color:#fff;
      .w-p-outer{
        top:10%;
        //animation:none;
        width:31em;
        margin:0 auto;
        @include anim('w-rotate-right 20s ease-in-out infinite');
      }
      .w-p-wrap{
        height:5.2em;
      }
      .w-p-bg{
        width:100%;
        height:100%;
      }
      .w-p-cont{
        height:100%;
        @include anim('w-move-right 20s infinite');
      }
      .w-p-c-bg{
        @include abs($l:0.5em);
        width:100%;
        height:100%;
      }
      .w-p-text{
        @include abs($l:3em,$t:2.4em);
        opacity:0;
        font-size:1.1em;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
    }
    &.map{
      background:url(https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode1/map-bg1.png) center/cover no-repeat;
      @extend %text-btn;
      &.learn{
        background:none;
        &.shown{
          .w-p-outer{
            top:15%;
          }
        }
        .w-p-text{
          height:17.04em;
        }
        .w-p-t-ov div{
          display:none;
          &.shown{
            display:block;
          }
        }
      }
      &.shown{
        .map-circles{
          opacity:1;
          visibility:visible;
        }
      }
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .circle{
          opacity:1;
          visibility:visible;
        }
        .mark{
          display:block;
        }
      }
      &.done{
        .circle,.mark{
          display:none;
        }
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:1;
          pointer-events:auto;
        }
        .w-p-t-ov div{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(3){
            display:block;
          }
        }
      }
      &.err{
        .w-p-t-ov div{
          &:nth-child(2){
            display:block;
          }
          &:nth-child(3){
            display:none;
          }
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .pulse-btn.start{
        transition-delay:$anim*5;
      }
      .w-p-t-ov div:nth-child(n+2){
        display:none;
      }
    }
    &.catch{
      @extend %text-btn;
      &.game-start{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .catch-block{
          opacity:1;
          pointer-events:auto;
        }
      }
      &.in-game{
        .catch-block{
          .pulse-btn{
            display:none;
          }
        }
        @for $x from 1 through 3{
          &.choose#{$x} .game:nth-child(#{$x + 3}){
            pointer-events:auto;
            opacity:1;
          }
        }
      }
      @for $x from 1 through 3{
        &.done#{$x} .pulse-btn:nth-child(#{$x}){
          display:none;
        }
      }
      .w-p-outer{
        transition-delay:$anim*2;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .pulse-btn{
        &.start{
          transition-delay:$anim*2;
        }
      }
    }
    &.scheme{
      @extend %text-btn;
      &.scheme-start{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer.start,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .scheme-block{
          opacity:1;
          pointer-events:auto;
        }
      }
      &.scheme-done .scheme-block{
        pointer-events:none;

      }
      .scheme-block .w-p-outer{
        top:0;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
    }
  }
  //---
  .scheme-block{
    perspective:1500px;
    opacity:0;
    pointer-events:none;
    @include trs('opacity #{$anim} ease-in-out');
    @include center();
    width:88.07%;
    height:82.5%;
    .viewport{
      @include center();
      width:94.62%;
      height:89.79%;
    }
    .thing{
      position:absolute;
      width:12.5%;
      padding-bottom:12.5%;
      cursor:pointer;
      @include trs('transform #{$anim} ease-in-out');
      &:hover .hover{
        opacity:1;
      }
      &.correct{
        .done{
          opacity:1;
        }
      }
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
    }
    .done,.hover{
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
    }
    .w-p-outer{
      height:100%;
      //animation:none;//remove
    }
    .w-p-wrap,.w-p-cont{
      height:100%;
      //animation:none;//remove
    }
  }
  //---
  .qs-block{
    .ava{
      @include abs($l:1.95em,$t:-1.85em);
      height:3em;
    }
    .next{
      margin-top:1em;
      @include flx(display,flex);
      @include flx(justify-content,center);
      .yes,.no{
        cursor:pointer;
        width:6.5em;
        margin:0 2em;
        position:relative;
        &.good img:nth-child(1){
          opacity:1;
        }
        &.bad img:nth-child(2){
          opacity:1;
        }
      }
      img{
        width:100%;
        &:nth-child(1),&:nth-child(2){
          @include trs('opacity #{$anim} ease-in-out');
          @include abs($l:0,$r:0,$t:0,$b:0);
          opacity:0;
        }
      }
    }
    .msg{
      text-align:center;
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
      &.shown{
        opacity:1;
      }
    }
    .list{
      position:relative;
      height:15.6em;
    }
    .l-bg{
      width:100%;
      height:100%;
      @include abs($l:0,$t:0);
    }
    .l-cont{
      position:relative;
      padding:5em 0 0 4.1em;
      height:100%;
      @extend %bxz;
      @include anim('w-move 20s infinite');
    }
    .l-c-bg{
      width:100%;
      height:100%;
      @include abs($l:0,$t:0);
    }
    .l-pulse{
      @include abs($l:2em,$t:1.75em);
      width:5em;
      @include trf(scale(-1,1));
    }
    .l-inner{
      position:relative;
      div{
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
    }
    .l-dots{
      position:relative;
    }
  }
  //---
  @keyframes catch-fail{
    0%{transform:translate(2px,1px) rotate(0deg);}
    10%{transform:translate(-1px,-2px) rotate(-1deg);}
    20%{transform:translate(-3px,0px) rotate(1deg);}
    30%{transform:translate(0px,2px) rotate(0deg);}
    40%{transform:translate(1px,-1px) rotate(1deg);}
    50%{transform:translate(-1px,2px) rotate(-1deg);}
    60%{transform:translate(-3px,1px) rotate(0deg);}
    70%{transform:translate(2px,1px) rotate(-1deg);}
    80%{transform:translate(-1px,-1px) rotate(1deg);}
    90%{transform:translate(2px,2px) rotate(0deg);}
    100%{transform:translate(1px,-2px) rotate(-1deg);}
  }
  .catch-block{
    opacity:0;
    pointer-events:none;
    @include trs('opacity #{$anim} ease-in-out');
    @include abs($l:0,$r:0,$t:0,$b:0);
    .game{
      opacity:0;
      pointer-events:none;
      @include trs('opacity #{$anim} ease-in-out');
      @include abs($l:0,$r:0,$t:0,$b:0);
    }
    .thing{
      cursor:pointer;
      position:absolute;
      @include trs('left 0s ease-in-out,top 0s ease-in-out');
      &:hover img+img{
        opacity:1;
      }
      &.no{
        @include anim('catch-fail .3s linear infinite');
      }
      &.drop{
        pointer-events:none;
        @include trs('left #{$anim} ease-in-out,top #{$anim} ease-in-out,transform #{$anim} ease-in-out,opacity #{$anim} ease-in-out #{$anim/2}');
      }
      &.good{
        z-index:1;
      }
      img{
        width:100%;
        height:100%;
        pointer-events:none;
        @include trs('opacity #{$anim} ease-in-out');
        &+img{
          @include abs($l:0,$t:0);
          opacity:0;
        }
      }
    }
    .pulse-btn{
      position:absolute;
      opacity:1;
      &:nth-child(1){
        left:8.41%;
        top:53.22%;
      }
      &:nth-child(2){
        left:18.07%;
        top:79.46%;
      }
      &:nth-child(3){
        left:79.67%;
        top:62.5%;
      }
    }
  }
  //---
  @include kfs(map-rotate1){
    0%{
      @include trf('translate(-50%,-50%) rotate(0deg)');
    }
    100%{
      @include trf('translate(-50%,-50%) rotate(360deg)');
    }
  };
  @include kfs(map-rotate2){
    0%{
      @include trf('translate(-50%,-50%) rotate(0deg)');
    }
    100%{
      @include trf('translate(-50%,-50%) rotate(-360deg)');
    }
  };

  .map-circles{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    overflow:hidden;
    visibility:hidden;
    @include trs('opacity #{$anim*2} ease-in-out #{$anim*4}');
    background:url(#{$path}map-bg2.png) center/cover no-repeat;
    .circle{
      cursor:pointer;
      position:absolute;
      opacity:0;
      visibility:hidden;
      @include trs('opacity #{$anim} ease-in-out,background #{$anim} ease-in-out');
      @include center();
      &:hover{
        background:rgba(#f00,0.3);
      }
      &:nth-child(1){
        width:100%;
        height:100%;
      }
      &:nth-child(2){
        width:78%;
        padding-bottom:78%;
        border-radius:50%;
        @include anim('map-rotate1 10s linear infinite');
      }
      &:nth-child(3){
        width:40%;
        padding-bottom:40%;
        border-radius:50%;
        @include anim('map-rotate2 20s linear infinite');
      }
    }
    .mark{
      display:none;
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
      pointer-events:none;
    }
  }
}