@include exports("@path:components\_ep2.scss"){/*@path:components\_ep2.scss*/
  .ov-wrap{
    &.vibrate.v3{
      @extend %text-btn;
      &.shown{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          pointer-events:none;
        }
      }
      &.done{
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:1;
          pointer-events:auto;
        }
      }
      .pulse-btn{
        width:11.25%;
        cursor:pointer;
        position:absolute;
        &.incorr{
          top:10%;
        }
        &.corr{
          top:20%;
        }
        &:not(.start){
          width:14em;
          height:2.3em;
          left:10%;
          &.hidden{
            display:none;
          }
        }
        img{
          width:100%;
        }
        svg{
          width:100%;
          height:100%;
        }
      }
      .w-p-outer{
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-outer,.pulse-btn.start{
        transition-delay:0s;
        transition-duration:$anim;
      }
      .w-p-wrap{
        cursor:default;
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
    }
    &.map{
      &.v2{
        background:none;
        &.show-btns{
          .pulse-btn:not(.start){
            display:block;
          }
        }
        &.hide-btn{
          .pulse-btn.corr{
            display:none;
          }
        }
        &.done{
          .pulse-btn:not(.start){
            display:none;
          }
        }
        .pulse-btn:not(.start){
          display:none;
          position:absolute;
          &.corr{
            left:10%;
            top:55%;
          }
          &.err{
            top:40%;
            left:30%;
            &+.err{
              left:60%;
            }
          }
        }
      }
      &.v3{
        background:none;
        &.ok{
          .pulse-btn:not(.start){
            display:block;
          }
        }
        &.done{
          .pulse-btn:not(.start){
            display:none;
          }
        }
        .pulse-btn:not(.start){
          display:none;
          position:absolute;
          &.corr{
            left:55%;
            top:70%;
          }
          &.err{
            left:5%;
            top:20%;
            &+.err{
              left:30%;
              top:50%;
            }
          }
        }
      }
    }
    &.cartogr{
      @extend %text-btn;
      &.shown{
        .cartogr-block{
          opacity:1;
          visibility:visible;
        }
      }
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .next,.g-m{
          opacity:1;
        }
        .bg:nth-child(2){
          opacity:1;
        }
      }
      &.done{
        .cartogr-block:after{
          opacity:.5;
        }
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:1;
          pointer-events:auto;
        }
        .w-p-t-ov div{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
            display:block;
          }
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .pulse-btn{
        transition-delay:$anim*5;
      }
      .w-p-t-ov div:nth-child(2){
        display:none;
      }
    }
    &.forest{
      @extend %text-btn;
      &.shown{
        .w-p-outer{
          top:15%;
        }
        .pulse-btn{
          transition-delay:$anim*5;
        }
      }
      &.ok{
        .forest-block{
          opacity:1;
          visibility:visible;
        }
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .w-p-text{
        height:17.04em;
      }
      .w-p-t-ov{
        right:11.36%;
        svg{
          display:block;
          margin:1.5em auto 0 auto;
          width:100%;
          height:5em;
        }
      }
    }
  }
  //---
  .forest-block{
    @include abs($l:10%,$t:4.07%,$r:10%,$b:4.07%);
    visibility:hidden;
    opacity:0;
    transform:scale(.88);
    @include trs('opacity #{$anim} ease-in-out');
    .g-item{
      position:absolute;
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out,margin #{$anim} ease-in-out');
      margin-top:-.5em;
      &:not(.done){
        cursor:pointer;
        &:hover .hover{
          opacity:1;
        }
      }
      &.ini{
        opacity:1;
        margin:0;
      }
      &.active{
        //filter:grayscale(1);//TODO: remove
        .arr{
          display:none;
        }
      }
      &.arrow{
        .arr{
          opacity:1;
          margin:0;
        }
      }
      &.t .arr{
        transform:translate(-50%,-50%) rotate(90deg);
      }
      &.r .arr{
        transform:translate(-50%,-50%) rotate(180deg);
      }
      &.b .arr{
        transform:translate(-50%,-50%) rotate(270deg);
      }
      &.done{
        filter:brightness(50%);
        img{
          bottom:-15%;
        }
        .arr{
          display:none;
        }
      }
      img{
        @include abs($b:-9.05%);
        width:100%;
        pointer-events:none;
        @include trs('bottom #{$anim} ease-in-out');
      }
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
      //@include trs('opacity #{$anim} ease-in-out');
    }
    .hover{
      opacity:0;
      margin-top:-.3em;
    }
    .arr{
      opacity:0;
      width:50%;
      height:50%;
      @include center();
      @include trs('all #{$anim} ease-in-out');
      margin-top:-.5em;
      svg{
        opacity:1;
      }
    }
    .g-hor{
      @include abs($l:-10%);
      width:120%;
      height:1px;
      margin-top:-.3em;
    }
    .g-ver{
      @include abs($t:-10%);
      height:120%;
      width:1px;
    }
  }

  @include kfs(cartogr-item){
    50%{
      opacity:1;
    }
    100%{
      opacity:0;
    }
  };

  .cartogr-block{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    overflow:hidden;
    visibility:hidden;
    @include trs('opacity #{$anim*2} ease-in-out');
    &:after{
      content:'';
      pointer-events:none;
      @include abs($l:0,$r:0,$t:0,$b:0);
      background:#000;
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
    }
    .grid{
      @include abs($t:-3.3%,$b:-3.3%,$l:0,$r:0);
    }
    .next{
      @include abs($r:0,$b:0);
      width:14em;
      height:14em;
      opacity:0;
      @include trs('opacity #{$anim*2} ease-in-out #{$anim*2}');
      img{
        width:100%;
        position:absolute;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.active{
          opacity:1;
        }
      }
    }
    .bg:nth-child(2){
      opacity:0;
      @include trs('opacity #{$anim*2} ease-in-out');
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
    }
    .g-item{
      position:absolute;
      &.active:not(.done){
        cursor:pointer;
        &:hover:after{
          opacity:1;
        }
      }
      &.done{
        img:nth-child(2){
          @include trs('opacity #{$anim} ease-in-out');
          opacity:1;
        }
      }
      &.bad img:nth-child(1){
        animation:cartogr-item .5s linear;
      }
      &:after{
        content:'';
        @include abs($l:0,$r:0,$t:0,$b:0);
        border:1px solid #fff;
        background:rgba(#fff,.15);
        opacity:0;
        @include trs('opacity #{$anim/2} ease-in-out');
      }
      img{
        position:absolute;
        width:100%;
        opacity:0;
      }
    }
    .g-m{
      transform:translate(-50%,-50%);
      font-size:.5em;
      position:absolute;
      width:3em;
      height:1.5em;
      line-height:1.5em;
      background:#2c2c30;
      color:#a5a5ac;
      text-align:center;
      font-weight:700;
      opacity:0;
      pointer-events:none;
      @include trs('opacity #{$anim} ease-in-out');
      &.hidden{
        display:none;
      }
    }
    .n-h{
      font-weight:700;
      text-transform:uppercase;
      color:#fff;
      white-space:nowrap;
      @include abs($l:1.7em,$t:-1em);
    }
  }
}