@include exports("@path:components\_ep3.scss"){/*@path:components\_ep3.scss*/
  .ov-wrap{
    &.start.v2{
      @include flx(display,flex);
      @include flx(justify-content,space-around);
      @include flx(align-items,center);
      .pulse-btn{
        position:relative;
        width:14em;
        height:14em;
      }
    }
    &.leaflet,&.photos,&.radar{
      @extend %text-btn;
      &.shown{}
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .ep3-block{
          opacity:1;
        }
      }
      &.done{
        .ep3-block:after{
          opacity:.8;
        }
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:1;
          pointer-events:auto;
        }
        .w-p-t-ov div{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
            display:block;
          }
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .pulse-btn.start{
        transition-delay:$anim*5;
      }
      .w-p-t-ov div:nth-child(2){
        display:none;
      }
    }
    &.photos{
      &.done{
        .photos-block{
          @include trs('background #{$anim*3} ease-in-out');
          background:none;
          &:after{
            display:none;
          }
        }
      }
    }
  }
  //---
  .ep3-block{
    @include abs($l:0,$t:0,$r:0,$b:0);
    opacity:0;
    @include trs('opacity #{$anim} ease-in-out');
    &:after{
      content:'';
      pointer-events:none;
      @include abs($l:0,$r:0,$t:0,$b:0);
      background:#000;
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
    }
  }

  .leaflet-block{
    background:rgba(#000,.6);
    .bg,.bad,.good{
      position:absolute;
      width:100%;
      height:100%;
    }
    .bad,.good{
      @include trs('opacity #{$anim} ease-in-out');
      opacity:0;
      &.shown{
        opacity:1;
      }
    }
    .item{
      //background:rgba(#f00,.3);
      position:absolute;
      display:none;
      cursor:pointer;
      &.shown{
        display:block;
      }
    }
  }
  //---
  @include kfs(ep3-photos){
    50%{
      opacity:1;
    }
  };

  .photos-block{
    background:#000;
    .item,.good,.bad{
      @include abs($l:0);
      width:100%;
      height:100%;
      background:center/cover no-repeat;
    }
    .item{
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
      &.shown{
        opacity:1;
        z-index:1;
        svg{
          opacity:1;
        }
      }
      &:nth-child(3) .click{
        left:25%;
        top:57%;
      }
      &:nth-child(5) .click{
        left:78%;
        top:13%;
      }
      &:nth-child(7) .click{
        left:10%;
        top:18%;
      }
      >svg{
        opacity:0;
        @include trs('opacity 5s ease-in-out 5s');
      }
    }
    .good,.bad{
      opacity:0;
      pointer-events:none;
      z-index:1;
      &.shown{
        animation:ep3-photos .6s ease-in-out;
      }
    }
    .click{
      //background:rgba(#fff,0.1);
      position:absolute;
      width:10.5em;
      height:10.5em;
      border-radius:50%;
    }
    .anim{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
      pointer-events:none;
    }
    .next{
      width:12em;
      height:4em;
      cursor:pointer;
      z-index:1;
      @include abs($r:2em,$b:2em);
      .done &{
        display:none;
      }
    }
    svg{
      width:100%;
      height:100%;
      pointer-events:none;
    }
  }
  //---
  .radar-block{
    background:0 0/cover;
    &.won{
      pointer-events:none;
      .eye,.eye-bg{
        @include trs('all #{$anim*2} linear');
      }
    }
    .eye{
      position:absolute;
      --x:0;
      --y:0;
      --w:0;
      --h:0;
      --f:0;
    }
    .eye-bg{
      height:100%;
      background:var(--x) var(--y)/var(--w) var(--h);
      filter:blur(var(--f));
      border-radius:50%;
    }
    .over,.anim{
      @include abs($l:-35%,$t:-35%);
      width:170%;
      height:170%;
    }
    .dot{
      position:absolute;
      width:1px;
      height:1px;
      background:#fff;
      pointer-events:none;
      display:none;
    }
  }
}