@include exports("@path:components\_ep4.scss"){/*@path:components\_ep4.scss*/
  .ov-wrap{
    &.vibrate{
      &.v1-1,&.v1-2,&.v1-3,&.v1-4,&.v1-5{
        transition:none;
        .anim{
          width:9em;
          height:9em;
        }
      }
      &.v4{
        &.phase1{
          .pulse-btn.incorr:nth-child(1),.pulse-btn.corr:nth-child(1){
            display:none;
          }
        }
        &.phase2{
          .pulse-btn.incorr:nth-child(2),.pulse-btn.corr:nth-child(2){
            display:block;
          }
        }
        .pulse-btn{
          cursor:pointer;
          @include abs($l:10%);
          width:14em;
          height:2.3em;
          &.incorr{
            top:10%;
            &:nth-child(2){
              top:20%;
              left:20%;
              display:none;
            }
          }
          &.corr{
            top:20%;
            &:nth-child(2){
              top:10%;
              display:none;
            }
          }
          svg{
            width:100%;
            height:100%;
          }
          img{
            width:100%;
          }
        }
      }
    }
    &.map{
      &.v4{
        background:none;
        &.ok{
          .ov-video{
            display:block;
          }
        }
        .btn{
          display:none;
          position:absolute;
          border-radius:50%;
          cursor:pointer;
          &.shown{
            display:block;
          }
        }
        .ov-video{
          display:none;
        }
      }
    }
    &.boat{
      @extend %text-btn;
      &.shown{}
      &.ok{
        .wobble-pop{
          pointer-events:none;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:0;
          transition-delay:0s;
          transition-duration:$anim;
          pointer-events:none;
        }
        .ep3-block{
          opacity:1;
        }
      }
      &.done{
        .ep3-block:after{
          opacity:.8;
        }
        .wobble-pop{
          pointer-events:auto;
        }
        .w-p-outer,.pulse-btn.start{
          opacity:1;
          pointer-events:auto;
        }
        .w-p-t-ov div{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
            display:block;
          }
        }
      }
      .w-p-outer{
        transition-delay:$anim*5;
        @include anim('w-rotate-both 20s ease-in-out infinite');
      }
      .w-p-cont{
        @include anim('w-move-both 20s infinite');
      }
      .pulse-btn.start{
        transition-delay:$anim*5;
      }
      .w-p-t-ov div:nth-child(2){
        display:none;
      }
    }
  }
  //---
  .boat-block{
    bottom:auto;
    right:auto;
    --w:63.48em;
    --h:35.68em;
    width:var(--w);
    height:var(--h);
    .bg1{
      position:absolute;
      width:100%;
      height:100%;
      background:url(https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode4/images/bg.png) center/cover no-repeat;
    }
    .game{
      @include abs($l:4.58%,$t:8.24%);
      background:url(https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode4/images/game-bg.jpg) center/cover no-repeat;
      overflow:hidden;
    }
    .grid{
      position:absolute;
    }
    .radar{
      position:absolute;
      background: url(https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode4/images/game-open.jpg) no-repeat;
      border-radius:50%;
      @include trs('all #{$anim} ease-in-out');
      &.l{
        img{
          &:nth-child(2){
            opacity:1;
          }
          &:not(:nth-child(2)){
            opacity:0;
          }
        }
      }
      &.u{
        img{
          &:nth-child(3){
            opacity:1;
          }
          &:not(:nth-child(3)){
            opacity:0;
          }
        }
      }
      &.r{
        img{
          &:nth-child(4){
            opacity:1;
          }
          &:not(:nth-child(4)){
            opacity:0;
          }
        }
      }
      img{
        @include center();
        margin-top:-.7em;
        width:4em;
        @include trs('opacity #{$anim} ease-in-out');
        &:nth-child(n+2){
          opacity:0;
        }
      }
    }
    .anim{
      @include abs($l:-36%,$r:-36%,$t:-36%,$b:-36%);
    }
    .eye-bg{
      background:center/cover;
      @include abs($l:-36%,$r:-36%,$t:-36%,$b:-36%);
      opacity:0.5;
    }
    .vid{
      @include abs($l:55.76%,$t:8.24%);
      width:40.63%;
      height:40.28%;
      overflow:hidden;
      border-radius:1em;
    }
    .ov-video{
      left:-3%;
      top:-3%;
      width:106%;
      height:106%;
    }
    .ctrls{
      @include abs($r:0,$b:0);
      width:30.4em;
      height:19.2em;
      padding:2em 3em;
      z-index:1;
      @include flx(display,flex);
      @include flx(flex-flow,'row wrap');
      @include flx(justify-content,space-between);
      @include flx(align-items,center);
      @extend %bxz;
      div:not(.sep){
        width:7em;
        height:7em;
        cursor:pointer;
        &:hover svg{
          display:block;
        }
        svg{
          pointer-events:none;
          display:none;
          right:0;
          bottom:0;
          width:var(--w);
          height:var(--h);
        }
      }
    }
    .sep{
      width:100%;
    }
    .top{
      margin:0 auto -3em auto;
    }
    .bottom{
      margin:-3em auto 0 auto;
    }
    .o-vid{
      pointer-events:none;
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
    }
    svg{
      position:absolute;
      width:100%;
      height:100%;
    }
  }
}