@include exports("@path:components\_video.scss"){/*@path:components\_video.scss*/
  .video-js{
    width:100%;
    height:100%;
    font-family:font();
    color:#c0c0c0;
    .nope &{
      pointer-events:none;
    }
    .vjs-big-play-button{
      display:none;//
      @include center();
    }
    .vjs-loading-spinner{
      border:none;
      border-radius:0;
      margin:-32px 0 0 -32px;
      width:64px;
      height:64px;
      background: url(#{$path}loader.gif) no-repeat;
    }
    .vjs-control-bar{
      left:30%;
      right:30%;
      width:auto;
      padding:.5em 0;
      height:4em;
      background:url(#{$path}player-center.svg) center repeat-x;
      .paused &,.nope &{
        display:none;
      }
      &:before,&:after{
        content:'';
        @include abs($t:0,$b:0);
        width:2em;
      }
      &:before{
        left:-1em;
        background:url(#{$path}player-left.svg) left no-repeat;
      }
      &:after{
        right:-1em;
        background:url(#{$path}player-right.svg) right no-repeat;
      }
    }
    .vjs-current-time-display,.vjs-time-divider div,.vjs-duration-display{
      font-size:0.8em;
    }
    .vjs-play-control{
      &.vjs-playing .vjs-icon-placeholder:before{
        content:'\0042';
      }
      &.vjs-ended .vjs-icon-placeholder:before{
        content:'\0041';
      }
      .vjs-icon-placeholder:before{
        content:'\0041';
        font-family:pdt-player;
      }
    }
    .vjs-mute-control{
      margin-top:-.5em;
      &.vjs-vol-0 .vjs-icon-placeholder:before{
        content:'\0044';
      }
      &.vjs-vol-1 .vjs-icon-placeholder:before{
        content:'\0045';
      }
      &.vjs-vol-2 .vjs-icon-placeholder:before{
        content:'\0046';
      }
      .vjs-icon-placeholder:before{
        content:'\0047';
        font-family:pdt-player;
        line-height:2.3;
      }
    }
    .vjs-volume-vertical{
      background:#f00;
      bottom:8.5em;
    }
    .vjs-progress-control{

    }
    .vjs-play-progress:before{
      display:none;
    }
    .vjs-progress-holder .vjs-load-progress{
      display:none;
    }
    .vjs-slider{
      background:rgba(#fff,0.19);
    }
    .vjs-error .vjs-error-display .vjs-modal-dialog-content{
      color:#000;
    }
    .vjs-current-time,.vjs-duration,.vjs-time-divider{
      line-height:3.3em;
      display:block;
    }
    .vjs-current-time{
      padding-right:0;
    }
    .vjs-duration{
      padding-left:0;
    }
    .vjs-time-divider{
      padding:0 0.3em;
      min-width:auto;
    }
    .vjs-menu-item:focus{
      outline:none;
    }

    .vjs-control.vjs-quality-selector{
      margin-top:-.5em;
    }
  }
  .vjs-quality-selector{
    .vjs-menu-button{
      height: 100%;
      width: 100%;
    }
    .vjs-icon-placeholder {
      // From video.js font: https://github.com/videojs/font
      font-family: 'pdt-player';
      font-weight: normal;
      font-style: normal;
      &:before{
        content: '\0043';
        line-height:2.3;
      }
    }
  }
  .vjs-menu-button-popup .vjs-menu{
    left:-5em;
  }

  .vjs-quality-changing {
    .vjs-big-play-button {
      display: none;
    }
    .vjs-control-bar {
      display: flex;
      visibility: visible;
      opacity: 1;
    }
  }

  .video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before{
    text-shadow:none;
  }
}