@include exports("@path:components\_video.scss"){/*@path:components\_video.scss*/
  .video-js{
    width:100%;
    height:100%;
    font-family:font();
    .nope &{
      pointer-events:none;
    }
    .vjs-big-play-button{
      display:none;//
      @include center();
    }
    .vjs-loading-spinner{
      border:none;
      border-radius:0;
      margin:-32px 0 0 -32px;
      width:64px;
      height:64px;
      background: url(#{$path}loader.gif) no-repeat;
    }
    .vjs-control-bar{
      left:30%;
      right:30%;
      width:auto;
      background:rgba(#000,0.36);
      .paused &,.nope &{
        display:none;
      }
    }
    .vjs-progress-control{
      pointer-events:none;//TODO:if seek after popups, then set currenttime on first popup
    }
    .vjs-play-progress:before{
      display:none;
    }
    .vjs-progress-holder .vjs-load-progress{
      display:none;
    }
    .vjs-slider{
      background:rgba(#fff,0.19);
    }
    .vjs-error .vjs-error-display .vjs-modal-dialog-content{
      color:#000;
    }
    .vjs-current-time,.vjs-duration,.vjs-time-divider{
      line-height:3.3em;
      display:block;
    }
    .vjs-current-time{
      padding-right:0;
    }
    .vjs-duration{
      padding-left:0;
    }
    .vjs-time-divider{
      padding:0 0.3em;
      min-width:auto;
    }
    .vjs-menu-item:focus{
      outline:none;
    }
  }
  .vjs-quality-selector {
    .vjs-menu-button {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
    .vjs-icon-placeholder {
      // From video.js font: https://github.com/videojs/font
      font-family: 'VideoJS';
      font-weight: normal;
      font-style: normal;
      &:before {
        content: '\f110';
      }
    }
  }

  .vjs-quality-changing {
    .vjs-big-play-button {
      display: none;
    }
    .vjs-control-bar {
      display: flex;
      visibility: visible;
      opacity: 1;
    }
  }
}