@include exports("@path:components\_video.scss"){/*@path:components\_video.scss*/
  .video-js{
    width:100%;
    height:100%;
    font-family:font();
    $lbrn:rgb(176,172,164);
    $mbrn:rgb(107,100,88);
    $brn:rgb(65,59,50);
    color:$lbrn;
    .nope &{
      pointer-events:none;
    }
    .vjs-big-play-button{
      display:none;//
      @include center();
    }
    .vjs-loading-spinner{
      border:none;
      border-radius:0;
      margin:-32px 0 0 -32px;
      width:64px;
      height:64px;
      background: url(#{$path}loader.png) no-repeat;
    }
    .vjs-control-bar{
      left:3%;
      right:3%;
      width:auto;
      padding:.5em 0;
      height:4em;
      background:url(#{$path}player-center.svg) left top/100% 100% no-repeat;
      @media(min-width:1025px){
        left:30%;
        right:30%;
      }
      .paused &,.nope &{
        display:none;
      }
      &:before,&:after{
        content:'';
        @include abs($t:0,$b:0);
        width:2em;
      }
      &:before{
        left:-1em;
        background:url(#{$path}player-left.svg) left no-repeat;
      }
      &:after{
        right:-1em;
        background:url(#{$path}player-right.svg) right no-repeat;
      }
    }
    .vjs-current-time-display,.vjs-time-divider div,.vjs-duration-display{
      font-size:0.8em;
    }
    .vjs-play-control{
      &.vjs-playing .vjs-icon-placeholder:before{
        content:'\0042';
      }
      &.vjs-ended .vjs-icon-placeholder:before{
        content:'\0041';
      }
      .vjs-icon-placeholder:before{
        content:'\0041';
        font-family:pdt-player;
      }
    }
    .vjs-mute-control{
      margin-top:-.5em;
      &.vjs-vol-0 .vjs-icon-placeholder:before{
        content:'\0044';
      }
      &.vjs-vol-1 .vjs-icon-placeholder:before{
        content:'\0045';
      }
      &.vjs-vol-2 .vjs-icon-placeholder:before{
        content:'\0046';
      }
      .vjs-icon-placeholder:before{
        content:'\0047';
        font-family:pdt-player;
        line-height:2.2;
      }
    }
    .vjs-volume-panel{
      &.vjs-hover .vjs-volume-control.vjs-volume-vertical{
        pointer-events:auto;
      }
      .vjs-volume-control.vjs-volume-vertical{
        background: url(#{$path}player-sound-bg.svg) no-repeat;
        width:4em;
        height:16em;
        left:-4em;
        bottom:16.5em;
        pointer-events:none;
        transition:none;
        display:none;
        @media(min-width:1025px){
          display:block;
        }
      }
    }
    .vjs-volume-bar.vjs-slider-vertical{
      width:.5em;
      height:13em;
      .vjs-volume-level{
        background:$lbrn;
        width:.5em;
        &:before{
          font-family:pdt-player;
          content:'\0048';
          font-size:2em;
          left:-.4em;
        }
      }
    }
    .vjs-play-progress:before{
      display:none;
    }
    .vjs-progress-holder{
      height:.85em;
      font-size:1em;
      &:before{
        content:'';
        @include abs($l:0,$r:0,$b:0,$t:.6em);
        background:$mbrn;
        z-index:1;
      }
      .vjs-load-progress{
        display:none;
      }
    }
    .vjs-progress-control{
      &:hover{
        .vjs-progress-holder,.vjs-time-tooltip{
          font-size:1em;
        }
      }
      .vjs-progress-holder {
        margin: 0 2em;
      }
    }
    .vjs-error .vjs-error-display .vjs-modal-dialog-content{
      color:#000;
    }
    .vjs-current-time,.vjs-duration,.vjs-time-divider{
      line-height:2.6em;
      display:block;
    }
    .vjs-current-time{
      padding-right:0;
    }
    .vjs-duration{
      padding-left:0;
    }
    .vjs-time-divider{
      padding:0 0.3em;
      min-width:auto;
    }
    .vjs-menu-item:focus{
      outline:none;
    }
    .vjs-time-tooltip{
      font-size:1.6em;
      text-shadow:none;
    }
    .vjs-play-progress{
      background:$lbrn;
      &:before{
        display:none;
      }
      .vjs-time-tooltip{
        background:$lbrn;
      }
      div{

      }
    }
    .vjs-mouse-display .vjs-time-tooltip{
      background:$brn;
    }
    .vjs-slider{
      background:$brn;
    }

    .vjs-control{
      text-shadow:0 6px 0 $brn;
      &.vjs-time-control{
        text-shadow:none;
      }
      &.vjs-menu-button-popup .vjs-icon-placeholder{
        text-shadow:0 6px 0 $brn;
      }

      &:focus,&:focus:before,&:hover:before{
        text-shadow:none;
      }
      &.vjs-quality-selector{
        margin-top:-.5em;
      }
    }

    .vjs-menu-button-popup .vjs-menu{
      width:5em;
      left:-.5em;
      border:none;
      text-shadow:none;
      .vjs-menu-content{
        background:#564f44;
      }
      .vjs-menu-item:hover{
        background:$mbrn;
      }
      .vjs-selected,.vjs-selected:focus,.vjs-selected:hover{
        background:$lbrn;
      }
    }
  }
  .vjs-quality-selector{
    .vjs-menu-button{
      height: 100%;
      width: 100%;
    }
    .vjs-icon-placeholder {
      // From video.js font: https://github.com/videojs/font
      font-family: 'pdt-player';
      font-weight: normal;
      font-style: normal;
      &:before{
        content: '\0043';
        line-height:2.2;
      }
    }
  }

  .vjs-quality-changing {
    .vjs-big-play-button {
      display: none;
    }
    .vjs-control-bar {
      display: flex;
      visibility: visible;
      opacity: 1;
    }
  }
}