<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":2}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
                <!--<source src="../test.mp4" type="video/mp4" />-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap start v1">
                    <div class="ov-video" style="background-image: url(images/2-1-bg.jpg);"></div>
                    <div class="ov-video" style="background-image: url(images/2-1-top.png);"></div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Это интерактивное приключение, в котором <br>ты увидишь, какие задачи и проблемы возникают <br>перед членами отряда.<br>
                                        Каждое решение имеет свою цену. <br>Твой противник — само время.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <!--<div class="pulse-btn">
                        <div class="p-b-clip">
                            <div class="p-b-pulse"></div>
                        </div>
                    </div>-->
                </div>
                <div class="ov-wrap vibrate v3">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                        <!--<source src="../1ser/MP4/1-19-I_TELEFON.mp4" type="video/mp4" />-->
                    </video>
                    <div class="pulse-btn incorr">
                        <svg>
                            <use xlink:href="#icon-ep2-2-10-button-1"></use>
                        </svg>
                    </div>
                    <div class="pulse-btn corr">
                        <svg>
                            <use xlink:href="#icon-ep2-2-10-button-2"></use>
                        </svg>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Это интерактивное приключение, в котором
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap map v2">
                    <video class="ov-video" preload="auto" muted playsinline>
                        <source src="https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode2/mp4/bg/2-03.mp4" type="video/mp4" />
                        <!--../test.mp4-->
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Text1
                                        </div>
                                        <div>
                                            No
                                        </div>
                                        <div>Yes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn corr">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="pulse-btn err">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="pulse-btn err">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap cartogr">
                    <div class="cartogr-block">
                        <svg class="bg">
                            <use xlink:href="#icon-ep2-2-17-map-bg"></use>
                        </svg>
                        <svg class="bg">
                            <use xlink:href="#icon-ep2-2-17-map-grid"></use>
                        </svg>
                        <div class="grid">
                        
                        </div>
                        <div class="next">
                            <svg>
                                <use xlink:href="#icon-ep2-2-17-map-next"></use>
                            </svg>
                            <div class="n-h">где этот сектор?</div>
                        </div>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Стартовый текст
                                        </div>
                                        <div>
                                            Конечный текст
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap forest">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                        <!--<source src="../1ser/MP4/1-19-I_TELEFON.mp4" type="video/mp4" />-->
                    </video>
                    <div class="forest-block">
                    
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-2-14-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-2-14-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Стартовый текст
                                        <svg class="w-p-text">
                                            <use xlink:href="#icon-ep2-2-14-text-pic"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap map v3">
                    <video class="ov-video" preload="auto" muted playsinline>
                        <source src="https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode2/mp4/bg/2-27.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep2-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep2-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Text1
                                        </div>
                                        <div>
                                            No
                                        </div>
                                        <div>Yes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn err">
                        <img src="images/2-27/2-27-help.png" alt=""/>
                    </div>
                    <div class="pulse-btn err">
                        <img src="images/2-27/2-27-back.png" alt=""/>
                    </div>
                    <div class="pulse-btn corr">
                        <img src="images/2-27/2-27-med.png" alt=""/>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-before">
                    <svg>
                        <use xlink:href="#icon-ep2-pop-poloski1"></use>
                    </svg>
                </div>
            </div>
            <div class="the-anim">
                <img src="images/pulse-btn.png" alt=""/>
            </div>
            <div class="the-timer continued">
                <svg class="the-t-bg">
                    <use xlink:href="#icon-ep2-clock-bg"></use>
                </svg>
                <div class="the-t-text"></div>
                <div class="the-t-pop"></div>
                <div class="the-points">Счет:<span></span></div>
            </div>
            <div class="start-pop">
                <div style="background-image: url(images/start-bg.svg);"></div>
                <div style="background-image: url(images/start-button-p.svg);"></div>
                <div style="background-image: url(images/start-button.svg);"></div>
            </div>
            <div class="continue">Продолжить с последнего момента</div>
            <div class="loader-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
		</div>
        <audio class="sounds" data-what="zagl-bg" src="../2ser/MP3/2-00-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="map_v2-bg" src="../2ser/MP3/map_v2.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="map_v3-bg" src="../2ser/MP3/map_v3.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="cartogr-bg" src="../2ser/MP3/2-17-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="forest-bg" src="../2ser/MP3/2-14-music.mp3" preload="auto" loop></audio>
        <script type="text/template" id="cartogr-item-template">
            <div class="g-item<%= active?' active':'' %>" style="width:<%= width %>%;height:<%= height %>%;left:<%= left %>%;top:<%= top %>%;">
                <img src="images/2-17/2-17-map-error.svg" alt=""/>
                <% if(~winIndex) { %>
                <img src="images/2-17/wins/2-17-map-<%= winIndex %>.png" alt=""/>
                <% } %>
            </div>
        </script>
        <script type="text/template" id="cartogr-m-template">
            <div class="g-m<%= text?'':' hidden' %>" style="left:<%= left %>%;top:<%= top %>%;">
                <%= text %>
            </div>
        </script>
        <script type="text/template" id="cartogr-next-template">
            <img src="images/2-17/prev/2-17-prev-<%= index %>.png" alt=""/>
        </script>
        <script type="text/template" id="forest-item-template">
            <div class="g-item" style="width:<%= width %>%;height:<%= height %>%;left:<%= left %>%;top:<%= top %>%;">
                <img src="images/2-14/2-14-grid-<%= index %>.png" alt=""/>
                <svg class="hover">
                    <use xlink:href="#icon-ep2-2-14-hover"></use>
                </svg>
                <div class="arr">
                    <svg>
                        <use xlink:href="#icon-ep2-2-14-arrow"></use>
                    </svg>
                </div>
            </div>
        </script>
        <script type="text/template" id="forest-hline-template">
            <svg class="g-hor" style="top:<%= top %>%;">
                <use xlink:href="#icon-ep2-2-14-horizontal"></use>
            </svg>
        </script>
        <script type="text/template" id="forest-vline-template">
            <svg class="g-ver" style="left:<%= left %>%;">
                <use xlink:href="#icon-ep2-2-14-vert"></use>
            </svg>
        </script>
    <script type="text/template" id="ext-player-template">
        <div class="special-btns">
            <div class="just-back">Назад на 10 секунд</div>
            <div class="int-back">Назад на предыдущий интерактив</div>
            <!--<div class="int-ind-back">Назад на 1-й интерактив</div>-->
        </div>
    </script>
        <div class="safe-hide-svg">
            @@include('components/ep2-sprite.svg')
        </div>
	</body>
</html>