<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":3}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
                <!--<source src="../test.mp4" type="video/mp4" />-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap start v1">
                    <div class="ov-video" style="background-image: url(images/3-1-bg.jpg);"></div>
                    <div class="ov-video" style="background-image: url(images/3-1-top.png);"></div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep3-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep3-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Это интерактивное приключение, в котором <br>ты увидишь, какие задачи и проблемы возникают <br>перед членами отряда.<br>
                                        Каждое решение имеет свою цену. <br>Твой противник — само время.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                    <!--<div class="pulse-btn">
                        <div class="p-b-clip">
                            <div class="p-b-pulse"></div>
                        </div>
                    </div>-->
                </div>
                <div class="ov-wrap start v2">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="pulse-btn corr"></div>
                    <div class="pulse-btn"></div>
                </div>
                <div class="ov-wrap start endRef">
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep3-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep3-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Иди по <a href="">ссылке</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap leaflet">
                    <video class="ov-video" preload="auto" loop muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="ep3-block leaflet-block">
                        <svg class="bg">
                            <use xlink:href="#icon-ep3-3-02-bg"></use>
                        </svg>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep3-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep3-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Давай проверим так ли хорошо ты знаешь,<br/>как вести себя в лесу.
                                        </div>
                                        <div>
                                            Давай проверим так ли хорошо ты знаешь,<br/>как вести себя в лесу.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap photos">
                    <div class="ep3-block photos-block">
                        <div class="item" style="background-image: url(images/3-07/3-07-1-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-2-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-3-bg.jpg);">
                            <div class="click"></div>
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-3-cover"></use>
                            </svg>
                        </div>
                        <div class="item" style="background-image: url(images/3-07/3-07-4-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-5-bg.jpg);">
                            <div class="click"></div>
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-5-cover"></use>
                            </svg>
                        </div>
                        <div class="item" style="background-image: url(images/3-07/3-07-6-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-7-bg.jpg);">
                            <div class="click"></div>
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-7-cover"></use>
                            </svg>
                        </div>
                        <div class="item" style="background-image: url(images/3-07/3-07-8-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-9-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/3-07/3-07-10-bg.jpg);"></div>
                        <div class="good">
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-right"></use>
                            </svg>
                        </div>
                        <div class="bad">
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-error"></use>
                            </svg>
                        </div>
                        <div class="next">
                            <svg>
                                <use xlink:href="#icon-ep3-3-07-skip"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep3-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep3-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Поступили новые фото с дронов, нужно отобрать<br/>те, на которых возможно есть Костя или следы его передвижения. По ним координатор примет<br/>решения куда отправить пеших поисковиков.
                                        </div>
                                        <div>
                                            Поступили новые фото с дронов, нужно отобрать<br/>те, на которых возможно есть Костя или следы его передвижения. По ним координатор примет<br/>решения куда отправить пеших поисковиков.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap radar">
                    <div class="ep3-block radar-block" style="background-image: url(images/3-21/main.jpg);">
                        <div class="eye">
                            <div class="eye-bg" style="background-image: url(images/3-21/covered.jpg);"></div>
                            <svg class="over">
                                <use xlink:href="#icon-ep3-3-21-aim-fixed"></use>
                            </svg>
                            <div class="anim"></div>
                        </div>
                        <div class="dot"></div>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep3-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep3-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Используй тепловизор, чтобы исследовать<br/>квадрат, в который направлен вертолёт.
                                        </div>
                                        <div>
                                            Используй тепловизор, чтобы исследовать<br/>квадрат, в который направлен вертолёт.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-before">
                    <svg>
                        <use xlink:href="#icon-ep3-pop-poloski1"></use>
                    </svg>
                </div>
            </div>
            <div class="the-anim">
                <img src="images/pulse-btn.png" alt=""/>
            </div>
            <div class="the-timer continued">
                <svg class="the-t-bg">
                    <use xlink:href="#icon-ep3-clock-bg"></use>
                </svg>
                <div class="the-t-text"></div>
                <div class="the-t-pop"></div>
                <div class="the-points">Счет:<span></span></div>
            </div>
            <div class="start-pop">
                <div style="background-image: url(images/start-bg.svg);"></div>
                <div style="background-image: url(images/start-button-p.svg);"></div>
                <div style="background-image: url(images/start-button.svg);"></div>
            </div>
            <div class="loader-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
		</div>
        <audio class="sounds" data-what="zagl-bg" src="../2ser/MP3/2-00-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="leaflet-bg" src="../3ser/MP3/3-02-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="photos-bg" src="../3ser/MP3/3-07-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="start-bg" src="../3ser/MP3/3-08-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="radar-bg" src="../3ser/MP3/3-21-music.mp3" preload="auto" loop></audio>
        <script type="text/template" id="leaflet-bad-template"><svg class="bad shown"><use xlink:href="#icon-ep3-3-02-<%= i %>-w"></use></svg></script>
        <script type="text/template" id="leaflet-good-template"><svg class="good"><use xlink:href="#icon-ep3-3-02-<%= i %>-r"></use></svg></script>
        <script type="text/template" id="leaflet-item-template"><div class="item shown" style="left:<%= left %>%;top:<%= top %>%;width:<%= width %>%;height:<%= height %>%;"></div></script>
        <script type="text/template" id="ext-player-template">
            <div class="special-btns">
                <div class="just-back">Назад на 10 секунд</div>
                <div class="int-back">Назад на предыдущий интерактив</div>
                <div class="int-ind-back">Назад на 1-й интерактив</div>
            </div>
        </script>
        <div class="safe-hide-svg">
            @@include('components/ep3-sprite.svg')
        </div>
	</body>
</html>