<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":1}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap start">
                    <div class="ov-inner">
                        <div class="lets">
                            Добро пожаловать на ваше рабочее место. <br/>
                            Давайте закончим оформление документов.<br/><br/>
                            Представьтесь, инспектор.
                        </div>
                        <img src="images/reg-form-bg.svg" alt=""/>
                        <div class="form">
                            <input data-valid="\S+" placeholder="Введите ваше имя" type="text" name="name"/>
                            <input data-valid="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Введите свой email" type="text" name="email"/>
                            <div class="f-date"></div>
                            <div class="f-rand"><span></span></div>
                        </div>
                        <div class="btns">
                            <div class="btn-cont">
                                <img src="images/reg-form-btn.svg" alt="" class="btn"/>
                                <img src="images/reg-form-btn-h.svg" alt="" class="btn-h"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap u-pop">

                </div>
                <div class="circus"></div>
            </div>
            <div class="the-timer">
                <div class="the-t-text"></div>
            </div>
            <div class="start-pop">
                <div class="text">
                    Добро пожаловать<br/>в интерактивное приключение,<br/>основанное на популярной короткометражке<br/>«Ваши документы»
                </div>
                <div class="icons">
                    <img src="images/startscreen-logo_ics.svg" alt=""/>
                    <img src="images/startscreen-logo_pp.png" alt=""/>
                    <img src="images/startscreen-logo_kinodom.svg" alt=""/>
                </div>
                <div class="start hoverable">
                    <img src="images/startscreen-btn.svg" alt=""/>
                    <img src="images/startscreen-btn-h.svg" alt=""/>
                </div>
            </div>
            <div class="clr hoverable">
                <img src="images/startscreen-btn-restart.svg" alt=""/>
                <img src="images/startscreen-btn-restart-h.svg" alt=""/>
            </div>
            <div class="continue hoverable">
                <img src="images/startscreen-btn-continue.svg" alt=""/>
                <img src="images/startscreen-btn-continue-h.svg" alt=""/>
            </div>
            <div class="loader-pop">
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
            <div class="special-btns"></div>
            <canvas class="smooth"></canvas>
		</div>
        <script type="text/template" id="ext-player-template">
            <input type="checkbox" />
            <div class="sp-toggle">
                <div class="hoverable">
                    <img src="images/player-ch-btn-open.svg" alt=""/>
                    <img src="images/player-ch-btn-open-h.svg" alt=""/>
                </div>
                <div class="hoverable">
                    <img src="images/player-ch-btn-collapse.svg" alt=""/>
                    <img src="images/player-ch-btn-collapse-h.svg" alt=""/>
                </div>
            </div>
            <div class="step-btns">
                <% for(let i=0;i<choose.length;i++){ %>
                <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
                <% } %>
            </div>
        </script>
    <script type="text/template" id="u-pop-template">
        <div class="ov-inner <%= cls %>">
            <div class="tmp" style="position:absolute;left: 0;top: 3em;right: 0;text-align:center;color: #fff;"><!--TODO:remove this div-->
                <% if(last&&correct){ %>
                Кнопка очистит прохождение и вернет в начало обучения
                <% }else{ %>
                Эпизод: <%= ep %>, развилка: <%= step %> <%= choose?'':', конечное окно при выборе кнопки с индексом '+chosen %>
                <% } %>
            </div>
            <% if(choose){ %>
            <img src="../pops-images/ep<%= ep %>-step<%= step %>-pop-base-bg.svg" alt=""/>
            <% }else{ %>
            <img src="../pops-images/ep<%= ep %>-step<%= step %>-pop-chosen<%= chosen %>-bg.svg" alt=""/>
            <% } %>
            <div class="btns">
                <% if(choose){
                for(let i=0;i<choose;i++){ %>
                <div class="btn-cont">
                    <img src="../pops-images/ep<%= ep %>-step<%= step %>-choose<%= i %>.svg" alt="" class="btn"/>
                    <img src="../pops-images/ep<%= ep %>-step<%= step %>-choose<%= i %>-h.svg" alt="" class="btn-h"/>
                </div>
                <% }}else{ %>
                <div class="btn-cont">
                    <img src="../pops-images/ep<%= ep %>-step<%= step %>-chosen<%= chosen %>-ok.svg" alt="" class="btn"/>
                    <img src="../pops-images/ep<%= ep %>-step<%= step %>-chosen<%= chosen %>-ok-h.svg" alt="" class="btn-h"/>
                </div>
                <% } %>
            </div>
        </div>
    </script>
	</body>
</html>