<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":4}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
                <!--<source src="../test.mp4" type="video/mp4" />-->
				<!--<source src="../PREDMASTER1SER.mp4" type="video/mp4" />-->
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap vibrate v4">
                    <video class="ov-video hidden" preload="auto" muted playsinline>
                        <source src="../test.mp4" type="video/mp4" />
                        <!--<source src="../1ser/MP4/1-19-I_TELEFON.mp4" type="video/mp4" />-->
                    </video>
                    <div>
                        <div class="pulse-btn incorr">
                            <svg>
                                <use xlink:href="#icon-ep4-btn-run"></use>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <div class="pulse-btn corr">
                            <svg>
                                <use xlink:href="#icon-ep4-btn-freeze"></use>
                            </svg>
                        </div>
                        <div class="pulse-btn corr">
                            <svg>
                                <use xlink:href="#icon-ep4-btn-derevo"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                
                <div class="ov-wrap start v1">
                    <div class="ov-video" style="background-image: url(images/2-1-bg.jpg);"></div>
                    <div class="ov-video" style="background-image: url(images/2-1-top.png);"></div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep4-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep4-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Это интерактивное приключение, в котором <br>ты увидишь, какие задачи и проблемы возникают <br>перед членами отряда.<br>
                                        Каждое решение имеет свою цену. <br>Твой противник — само время.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <!--<div class="ov-wrap qs">
                    <video class="ov-video" preload="auto" loop muted>
                        <source src="../test.mp4" type="video/mp4" />
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer qs-block">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep4-question-bg"></use>
                                </svg>
                                <img class="ava" src="images/question-photo.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-c-bg">
                                        <use xlink:href="#icon-ep4-question-bg-add"></use>
                                    </svg>
                                    <div class="w-p-text"></div>
                                </div>
                            </div>
                            <div class="next">
                                <div class="yes">
                                    <img src="images/but-good.png" alt=""/>
                                    <img src="images/but-bad.png" alt=""/>
                                    <img src="images/but-yes.png" alt=""/>
                                </div>
                                <div class="no">
                                    <img src="images/but-good.png" alt=""/>
                                    <img src="images/but-bad.png" alt=""/>
                                    <img src="images/but-no.png" alt=""/>
                                </div>
                            </div>
                            <div class="msg">&nbsp;</div>
                            <div class="list">
                                <svg class="l-bg">
                                    <use xlink:href="#icon-ep4-list-bg-bot"></use>
                                </svg>
                                <img class="l-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="l-cont">
                                    <svg class="l-c-bg">
                                        <use xlink:href="#icon-ep4-list-bg-top"></use>
                                    </svg>
                                    <div class="l-inner">
                                    
                                    </div>
                                    <div class="l-dots">...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="ov-wrap photos">
                    <div class="ep3-block photos-block">
                        <div class="item" style="background-image: url(images/ep4/4-18-1-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/ep4/4-18-2-bg.jpg);"></div>
                        <div class="item" style="background-image: url(images/ep4/4-18-3-bg.jpg);">
                            <div class="click" style="left:42%;top:33%;"></div>
                            <svg>
                                <use xlink:href="#icon-ep4-4-18-3-cover"></use>
                            </svg>
                            <div class="anim"></div>
                        </div>
                        <div class="good">
                            <svg>
                                <use xlink:href="#icon-ep4-3-07-right"></use>
                            </svg>
                        </div>
                        <div class="bad">
                            <svg>
                                <use xlink:href="#icon-ep4-3-07-error"></use>
                            </svg>
                        </div>
                        <div class="next">
                            <svg>
                                <use xlink:href="#icon-ep4-3-07-skip"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep4-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep4-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Поступили новые фото с дронов, нужно отобрать<br/>те, на которых возможно есть Костя или следы его передвижения. По ним координатор примет<br/>решения куда отправить пеших поисковиков.
                                        </div>
                                        <div>
                                            Поступили новые фото с дронов, нужно отобрать<br/>те, на которых возможно есть Костя или следы его передвижения. По ним координатор примет<br/>решения куда отправить пеших поисковиков.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap map v4">
                    <video class="ov-video" preload="auto" muted playsinline>
                        <source src="../oceans.mp4" type="video/mp4" />
                        <!--../test.mp4-->
                    </video>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep4-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep4-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        Text1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap boat">
                    <div class="ep3-block boat-block">
                        <svg class="bg">
                            <use xlink:href="#icon-ep4-device"></use>
                        </svg>
                        <div class="bg1"></div>
                        <div class="game">
                            <div class="grid">
                                <div class="radar">
                                    <div class="anim"></div>
                                    <div class="eye-bg" style="background-image: url(images/ep4/3-21-aim-fixed.svg);"></div>
                                    <div>
                                        <img src="images/ep4/drone-d.png" alt=""/>
                                        <img src="images/ep4/drone-l.png" alt=""/>
                                        <img src="images/ep4/drone-u.png" alt=""/>
                                        <img src="images/ep4/drone-r.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vid">
                            <video class="ov-video" preload="auto" muted loop playsinline>
                                <source src="https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/episode4/mp4/4-13-drone.mp4" type="video/mp4" />
                                <!--../test.mp4-->
                            </video>
                        </div>
                        <div class="ctrls">
                            <div class="top">
                                <svg>
                                    <use xlink:href="#icon-ep4-button-up-h"></use>
                                </svg>
                            </div>
                            <div class="sep"></div>
                            <div class="left">
                                <svg>
                                    <use xlink:href="#icon-ep4-button-left-h"></use>
                                </svg>
                            </div>
                            <div class="right">
                                <svg>
                                    <use xlink:href="#icon-ep4-button-right-h"></use>
                                </svg>
                            </div>
                            <div class="sep"></div>
                            <div class="bottom">
                                <svg>
                                    <use xlink:href="#icon-ep4-button-down-h"></use>
                                </svg>
                            </div>
                        </div>
                        <svg class="o-vid">
                            <use xlink:href="#icon-ep4-over-video"></use>
                        </svg>
                    </div>
                    <div class="wobble-pop">
                        <div class="w-p-outer">
                            <div class="w-p-wrap">
                                <svg class="w-p-bg">
                                    <use xlink:href="#icon-ep4-text-bg"></use>
                                </svg>
                                <img class="w-p-pulse" src="images/pulse-btn.png" alt=""/>
                                <div class="w-p-cont">
                                    <svg class="w-p-text">
                                        <use xlink:href="#icon-ep4-text-top"></use>
                                    </svg>
                                    <div class="w-p-t-ov">
                                        <div>
                                            Начало
                                        </div>
                                        <div>
                                            Конец
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pulse-btn start">
                        <img src="images/but-click.png" alt=""/>
                    </div>
                </div>
                <div class="ov-wrap vibrate v1-1">
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <div class="w-p-cont">
                                    <div class="anim"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap vibrate v1-2">
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <div class="w-p-cont">
                                    <div class="anim"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap vibrate v1-3">
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <div class="w-p-cont">
                                    <div class="anim"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap vibrate v1-4">
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <div class="w-p-cont">
                                    <div class="anim"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap vibrate v1-5">
                    <div class="wobble-pop">
                        <div class="w-p-outer click">
                            <div class="w-p-wrap">
                                <div class="w-p-cont">
                                    <div class="anim"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-before">
                    <svg>
                        <use xlink:href="#icon-ep4-pop-poloski1"></use>
                    </svg>
                </div>
            </div>
            <div class="the-anim">
                <img src="images/pulse-btn.png" alt=""/>
            </div>
            <div class="the-timer continued">
                <svg class="the-t-bg">
                    <use xlink:href="#icon-ep4-clock-bg"></use>
                </svg>
                <div class="the-t-text"></div>
                <div class="the-t-pop"></div>
                <div class="the-points">Счет:<span></span></div>
            </div>
            <div class="start-pop">
                <div style="background-image: url(images/start-bg.svg);"></div>
                <div style="background-image: url(images/start-button-p.svg);"></div>
                <div style="background-image: url(images/start-button.svg);"></div>
            </div>
            <div class="loader-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="bg" style="background-image: url(images/loader-bg.svg);"></div>
                <div class="text">
                    Экран слишком мал :(<br/>
                    Возможно, вам поможет поворот девайса.
                </div>
            </div>
		</div>
        <audio class="sounds" data-what="zagl-bg" src="../2ser/MP3/2-00-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="photos-bg" src="../3ser/MP3/3-07-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="boat-bg" src="../3ser/MP3/3-08-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="vibrate-v4-bg" src="../3ser/MP3/3-08-music.mp3" preload="auto" loop></audio>
        <audio class="sounds" data-what="map-v4-bg" src="../3ser/MP3/3-08-music.mp3" preload="auto" loop></audio>
    <script type="text/template" id="map-four-item-template">
        <div class="btn" style="width:<%= size %>em;height:<%= size %>em;left:<%= left %>%;top:<%= top %>%;"></div>
    </script>
       <script type="text/template" id="ext-player-template">
           <div class="special-btns">
               <div class="just-back"></div>
               <div class="int-back"></div>
           </div>
        </script>
        <div class="safe-hide-svg">
            @@include('components/ep4-sprite.svg')
        </div>
	</body>
</html>